* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #f0f0f0;
  color: #000;
}

.inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fff;
}

.inicio img {
  width: 150px;
  height: 130px;
  margin-top: 5px;
  align-items: center;
  justify-content: center;
}

.inicio h1 {
  color: #000;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 10px;
}

label {
  display: flex;
  margin-top: 1em;
  align-items: center;
  gap: 8px;
}

.inicio input {
  width: 300px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1px;
}

button {
  margin-top: 1em;
  padding: 10px 120px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background: #1868fcdc;
}

a {
  color: rgb(71, 165, 243);
}

a:hover {
  color: #c718fcdc;
}

label {
  color: #474040bb;
}

#datos {
  width: auto;
}


.registro img {
  width: 150px;
  height: 130px;
  margin-top: 5px;
  align-items: center;
  justify-content: center;
}

.registro {
  background: linear-gradient(to right, #f054e8, #bc69ec, rgb(58, 98, 228));
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

@font-face {
  font-family: "Korcy";
  src: url(tipografia/Korcy.otf);
}

.registro h1 {
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  font-size: 60px;
  color: #fff;
  font-family: "Korcy";
}

@font-face {
  font-family: "Pretty";
  src: url(tipografia/Pretty.ttf);
}

.registro p {
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  font-family: "Pretty";


}

.subtitulo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.subtitulo h1 {
  margin-bottom: 0px;
}

.subtitulo p {
  text-align: start;
  width: 100%;
}


.datosregistro {
  border-radius: 10px;
  border: 1px solid #ccc;
  display: flex;
  width: 100%;

  flex-direction: column;
  align-items: center;
  gap:0.2vh;

}

.datosregistro input {
  width: 90%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1px;
}

.datosregistro select {
  width: 300px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1px;
  background-color: #fff;
  color: #575252;
}

.contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

h2{
  text-align: center;
  margin-bottom: 10px;
  margin-top: 20px;
}

#ciudad{width: 90%;}

.form-buttons{margin-top: 7vh;margin-bottom: 10vh;}

.recuperacioncontraseña {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid #ccc;
  display: flex;
  width: 100%;

  flex-direction: column;
  align-items: center;
  gap:0.2vh;

} 
.recuperacioncontraseña input {
  width: 90%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1px;
}

.recuperacioncontraseña p {
  color: #645c5c;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 80%;
}

.crearcontraseña {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid #ccc;
  display: flex;
  width: 100%;

  flex-direction: column;
  align-items: center;
  gap:0.2vh;

} 
.crearcontraseña input {
  width: 90%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1px;
}

.sesionabierta{
  text-align: center;
  margin-bottom: 10px;
  margin-top: 20px;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}


.sesionabierta {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.caja {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
}

.caja img {
  object-fit: cover;
  margin-right: 20px;
  border-radius: 6px;
}

.texto {
  flex: 1;
  font-family: sans-serif;
}
