* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #f0f0f0;
  color: #000;
}

.inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fff;
}

.inicio img {
  width: 150px;
  height: 130px;
  margin-top: 5px;
  align-items: center;
  justify-content: center;
}

.inicio h1 {
  color: #000;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 10px;
}

label {
  display: flex;
  margin-top: 1em;
  align-items: center;
  gap: 8px;
}

.inicio input {
  width: 300px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1px;
}

button {
  margin-top: 1em;
  padding: 10px 120px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background: #1868fcdc;
}

a {
  color: rgb(71, 165, 243);
}

a:hover {
  color: #c718fcdc;
}

label {
  color: #474040bb;
}

#datos {
  width: auto;
}


.registro img {
  width: 150px;
  height: 130px;
  margin-top: 5px;
  align-items: center;
  justify-content: center;
}

.registro {
  background: linear-gradient(to right, #f054e8, #bc69ec, rgb(58, 98, 228));
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-left: 5px;
  display: flex;
  justify-content: center;
}

@font-face {
  font-family: "Korcy";
  src: url(tipografia/Korcy.otf);
} 
.registro h1 {
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  font-size: 60px;
  color: #fff;
  font-family: "Korcy";
}  

@font-face {
  font-family: "Pretty";
  src: url(tipografia/Pretty.ttf);
} 

.registro p {
  align-items:center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  font-family: "Pretty";
  
}  
.subtitulo{display: flex;
  justify-content: center;flex-direction: column;
align-items: center;}

.subtitulo h1{margin-bottom: 0px;}
.subtitulo p{text-align: start;width: 100%;}